// Variables

// Colors
$black: #000;
$dark-grey: #555555;
$b-bottom: #82CA9D;
$green-hover: #f2f2f2;
$magenta: #F6989D;
$orange: #FDC68A;
$yellow: #FFF79A;
$violet: #A187BE;
$hover-color: #C4DF9B;
$hover-90grey: #262626;

// Fonts
$raleway: 'Raleway', sans-serif;
