@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body {
  background: $black;
  font-size: 1.25em;
  font-family: $raleway;
  line-height: 1.5em;
}

nav {
  margin: 100px auto;
  text-align: center;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
  width: 500px;
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  float: left;
  width: 75%;
  text-align: left;
  border-bottom: 3px solid $b-bottom;
}

nav ul li:hover {
  background: $green-hover;
}

nav ul li a {
  display: block;
  padding: 15px 10px;
  color: $magenta;
  text-decoration: none;
  background-color: $hover-90grey;
}

nav ul li a:hover{
  background-color: $dark-grey;
}

nav ul ul {
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}

nav ul ul li {
  float: none;
  border-bottom: 2px solid $violet;
  border-left: 2px solid $violet;
  border-right: 2px solid $violet;
  border-radius: 7px;
  position: relative;
}

nav ul ul li a {
  padding: 15px 10px;
  color: $orange;
}

nav ul ul li a:hover {
  background: $dark-grey;
  color: $hover-color;
}

#down-triangle {
  float: right;
  width: 0;
  height: 0;
  margin-top: 10px;
  border-top: 10px solid $yellow;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
